/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #d6d3d3;
}

/* Encabezado y menú */
header {
  background-color: #f0983c;
  color: black;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeader {
  display: flex;
  align-items: center;
}

.logoHeader img {
  width: 100px;
  height: auto;
}

.logoHeader p {
  font-size: 24px;
  font-weight: bolder;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.5s;
}

.menu a:hover {
  color: #ff3300;
}

/* Contenido principal */
main {
  padding-top: 40px;
  text-align: center;
}

main h1 {
  font-size: 45px;
}

#logoGrande {
  width: 300px;
  height: auto;
}

/* Footer */
footer {
  background-color: #f0983c;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 30px 0;
  margin-top: 30px;
}

.redesSociales {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.redesSociales a {
  margin: 10px;
  font-size: 24px;
  transition: color 0.3s;
  text-decoration: none;
  color: black;
}

/* CONTACTO: */
.contacto-form {
  background: #e9b276;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-form label {
  font-weight: bolder;
  color: black;
  font-size: larger;
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background: white;
  transition: border-color 0.2s;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
  border-color: red;
  border-width: 2px;
  outline: none;
}

.contacto-form textarea {
  resize: vertical;
  min-height: 120px;
}

.contacto-form button[type="submit"] {
  background: #f0983c;
  color: white;
  border: solid 2px #f0983c;
  padding: 20px 0;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  transition: background 0.5s;
}

.contacto-form button[type="submit"]:hover {
  background: red;
}

/* Pagina Servicios */
.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.fondoServicio {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.25);
}

/* Fondo específico para cada servicio */
.fondo1 {
  background-image: url("../images/fondo1.png");
}
.fondo2 {
  background-image: url("../images/fondo2.jpg");
}
.fondo3 {
  background-image: url("../images/fondo3.jpg");
}
.fondo4 {
  background-image: url("../images/fondo4.jpg");
}
.fondo5 {
  background-image: url("../images/fondo5.jpg");
}
.fondo6 {
  background-image: url("../images/fondo6.jpg");
}
.fondo7 {
  background-image: url("../images/fondo7.jpg");
}

.servicio {
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
  border: black 2px solid;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}

.servicio h2 {
  color: #f0983c;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
}

.servicio p {
  font-size: 20px;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0.4);
}

/*Pagina Rutinas*/

.rutina-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.rutina-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  margin-bottom: 28px;
  justify-content: center;
}

.rutina-form label {
  font-weight: bold;
}

.rutina-form input {
  padding: 7px 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  background: #f7f7f7;
  font-size: 1rem;
  margin-right: 18px;
}

.rutina-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.rutina-table thead {
  background: #f0983c;
}

.rutina-table th,
.rutina-table td {
  padding: 12px 8px;
  text-align: center;
  font-size: 20px;
}

.rutina-table th {
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

.rutina-table tbody tr:nth-child(even) {
  background: #f5e6d7;
}

.rutina-table tbody tr:nth-child(odd) {
  background: #fff;
}

.rutina-table tbody tr:hover {
  background: #f0983c;
  color: white;
}

.rutina-table input[type="text"],
.rutina-table input[type="number"] {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f7f7f7;
}
#dia {
  width: 50px;
}

#ejercicio {
  width: 350px;
}

#series {
  width: 50px;
}
#repeticiones {
  width: 100px;
}
#semana {
  width: 50px;
}
#peso {
  width: 100px;
}

.boton {
  background: #f0983c;
  color: white;
  border: solid 2px black;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: inline-block;
}

.boton:hover {
  background: red;
}

/*Planes y precios*/

.planes-precios {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

.plan {
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
  padding: 32px 24px;
  width: 400px;
  border: 8px solid #f0983c;
  transition: transform 0.3s;
}

.plan:hover {
  transform: scale(1.1);
}

.plan h2 {
  color: black;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.plan .precio {
  color: #f0983c;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan ul li {
  color: black;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}
